.build_up{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5faf3;
  border-radius: 70px;
  align-items: center;
  margin-bottom: 35px;
  @media (min-width: 1200px){
    flex-direction: row;
  }
}

.build_upCard{
  height: 600px;
}

.texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  max-width: 400px;
  font-size: 15px;
  margin-bottom: 20px;
  @media (min-width: 1200px){
    margin-bottom: 0;
  }
}